{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<h1>#}
{#    test html#}
{#</h1>#}
{##}
{#</body>#}
{#</html>#}

{% extends "base.html" %}

{% block content %}
<h1>Sign In</h1>
    <div class="container" style="padding: 100px 50px 10px;" >
        <button type="button" class="btn btn-default" title="Popover title"
                data-container="body" data-toggle="popover" data-placement="left"
                data-content="左侧的 Popover 中的一些内容">
            左侧的 Popover
        </button>
    </div>
    <script>$(function ()
    { $("[data-toggle='popover']").popover();
    });
    </script>
{% endblock %}