<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Biological information</title>

	<link rel="shortcut icon" href="/static/assets/images/gt_favicon.png">
	
	<!--<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">-->
	<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="/static/assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="/static/assets/css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.html"><img src="/static/assets/images/logo.png" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="index.html">首页</a></li>
					<li><a href="about.html">关于</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">更多<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="tec-service.html">科技服务</a></li>
							<li class="active"><a href="bio-info.html">生物信息</a></li>
						</ul>
					</li>
					<li><a href="contact.html">联系我们</a></li>
					<li><a class="btn" href="signin.html">SIGN IN / SIGN UP</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">首页</a></li>
			<li class="active">生物信息</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-md-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">实验室信息管理系统</h1>
				</header>
					<p>
						一 款适用于新一代测序实验室的信息管理系统，具有数据录入、查询、删除、修改及权限管理等功能，能够可靠管理数据、资源和工作流程。后期会增加数据分析及可 视化模块，不断提升系统的智能化水平，以期成为高效、智能、安全的信息管理系统，有效提高实验室管理水平，极大减少实验管理成本。
					</p>
					<blockquote>
						优势及特征:<br>
						1. 操作简单，实验员进行简单培训即可操作<br>
						2. 易扩展，可灵活增加独立的功能模块，并实现无缝连接<br>
						3. 安全性高，设置严格的权限管理<br>
					</blockquote>
				<p>
					<img src="/static/assets/images/shengwuxinxi_2.jpg">
				</p>

				<h2>染色体非整倍体检测分析软件</h2>
				<p>基于新一代测序的染色体非整倍体检测分析软件，主要用于检测21三体（唐氏综合征）、18三体（爱德华氏综合征）及13三体（帕陶氏综合征），比传统的唐筛结果更准确，有效降低假阳性率，目前已完成上万例样本的分析工作，准确率高达99.9%。该软件亦可用于胚胎植入前筛查（PGS）检测。</p>
				<blockquote>
					优势及特征:<br>
					1. 高准确度，准确率达99.9%<br>
					2. 高灵敏度，数据量要求低<br>
					3. 全自动化，样品从上机到出报告无须手动操作<br>
					4. 安全性高，设定严格的操作权限<br>
				</blockquote>
				<p>
					<img src="/static/assets/images/shengwuxinxi_3.jpg">
				</p>

				<h3>拷贝数变异分析软件</h3>
				<p>
					基于新一代测序的染色体拷贝数变异检测软件，适用于无创产前检测（可有效降低假阳性率）及流产组织染色体异常检测等。
				</p>
				<blockquote>
					优势及特征:<br>
					1. 高精度，流程组织可检测0.1M以上微缺失微重复<br>
					2. 全自动化，样品从上机到出报告无须手动操作<br>
					3. 安全性高，设定严格的操作权限<br>
				</blockquote>
				<p>
					<img src="/static/assets/images/shengwuxinxi_4.jpg">
				</p>
			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-right">

				<div class="row widget">
					<div class="col-xs-12">
						<h4>生物信息</h4>
						<p>
							我们拥有强大高效的生物信息团队。
						</p>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<h4>生物信息</h4>
						<p><img src="/static/assets/images/shengwuxinxi_1.jpg" alt=""></p>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<h4>临床检测应用</h4>
						<p><img src="/static/assets/images/1.jpg" alt=""></p>
						<p>
							简介
						</p>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<h4>高性能计算平台</h4>
						<p><img src="/static/assets/images/2.jpg" alt=""></p>
						<p>简介</p>
					</div>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->


	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">

					<div class="col-md-6 widget">
						<h3 class="widget-title">联系我们</h3>
						<div class="widget-body">
							<p>0760-89965088<br>
								<a href="mailto:#">13465@gmail.com</a><br>
								<br>
								广东省中山市火炬开发区祥兴路数贸大厦南翼8层
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">关注我们</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href=""><i class="fa fa-weibo fa-2"></i></a>
								<a href=""><i class="fa fa-magic fa-2"></i></a>
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="#">首页</a> |
								<a href="about.html">关于我们</a> |
								<a href="bio-info.html">资讯</a> |
								<a href="contact.html">联系我们</a> |
								<b><a href="signup.html">登陆</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								粤ICP备15082429号 Coppyright &copy; 2016腾飞基因科技有限公司
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>





	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="/static/assets/js/jquery-1.11.0.min.js"></script>
	<script src="/static/assets/js/bootstrap.min.js"></script>
	<script src="/static/assets/js/headroom.min.js"></script>
	<script src="/static/assets/js/jQuery.headroom.min.js"></script>
	<script src="/static/assets/js/template.js"></script>
</body>
</html>