<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Technology Services</title>

	<link rel="shortcut icon" href="/static/assets/images/gt_favicon.png">
	
	<!--<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">-->
	<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="/static/assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="/static/assets/css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.html"><img src="/static/assets/images/logo.png" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="index.html">首页</a></li>
					<li><a href="about.html">关于</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">更多<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="active"><a href="tec-service.html">科技服务</a></li>
							<li><a href="bio-info.html">生物信息</a></li>
						</ul>
					</li>
					<li><a href="contact.html">联系我们</a></li>
					<li><a class="btn" href="signin.html">SIGN IN / SIGN UP</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">
		
		<ol class="breadcrumb">
			<li><a href="index.html">首页</a></li>
			<li class="active">科技服务</li>
		</ol>

		<div class="row">
			
			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-left">

				<div class="row widget">
					<div class="col-xs-12">
						<h4>科技服务</h4>
						<p>我们拥有强大高效的科技服务团队！</p>
						<p><img src="/static/assets/images/kejifuwu_1.jpg" alt=""></p>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<h4>新一代测序服务</h4>
						<p><img src="/static/assets/images/1.jpg" alt=""></p>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<h4>高通量信息分析</h4>
						<p><img src="/static/assets/images/2.jpg" alt=""></p>
						<p>简介</p>
					</div>
				</div>

			</aside>
			<!-- /Sidebar -->

			<!-- Article main content -->
			<article class="col-md-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">新一代测序服务</h1>
				</header>
                <p>1.全基因组测序</p>
                <blockquote>优势:覆盖全面(覆盖整个基因组，信息全面，可以检测非编码区变异、ncRNA、CNV和SV、病毒整合位点等;)<br>
                深度均一(相比外显子和靶序列测序，不存在捕获环节的序列偏好性，测序深度更均一，数据利用率高;)<br>
                流程简化(省去序列捕获环节，避免了相关的系统错误和偏差;)<br>
                性价比高(相比外显子和靶序列测序，线性的价格差别，指数的信息量差别;)<br>
                信息可用性持久(只要有效数据量充足，只需测序一次，可以根据研究目的变化和科学研究的进步进行再分析和再注解;)<br>
                    </blockquote>
                <br>
                <p>2.外显子组测序</p>
                <p>通过高通量测序技术进行外显子组测序，能够直接发现与蛋白质功能变异相关的遗传突变。相比于全基因组重测序，外显子组测序更加经济、高效，更适用于大样本量疾病及癌症样本分析。目前，外显子组测序技术已经应用到寻找与各种复杂疾病相关的致病基因和易感基因的研究中。</p>

                <p>3.目标区域测序</p>
                <p>目标区域测序是指利用特制的探针对客户感兴趣的蛋白编码区域DNA或某段特定序列进行捕获，富集后进行高通量测序的基因组分析方法。该方法能够获得指定目标区域的遗传信息，极大地提高了基因组中特定目标区域的研究效率，显著降低了研究成本。通过目标区域测序，可以对候选位点或候选基因进行验证，也可以进一步找到候选区域或候选基因内的易感位点，适用于候选基因关联分析等研究。</p>

                <p>4.单细胞测序</p>
                <p>单细胞测序通过在单个细胞水平上对基因组进行测序，解决了用组织样本测序或样本少时无法解决的细胞异质性难题，为科学家研究解析单个细胞的行为、机制、与机体的关系等提供了新方向。
                2011 年，《自然方法》杂志( Nature Methods )将单细胞测序列为年度值得期待的技术之一，2013年，《科学》杂志（Science）将单细胞测序列为年度最值得关注的六大领域榜首。</p>

                <p>5.转录组测序</p>
                <p>转录组测序的研究对象为特定细胞在某一功能状态下所能转录出来的所有mRNA的总和。转录组研究是基因功能及结构研究的基础和出发点，通过新一代高通量测序，能够全面快速地获得某一物种特定组织或器官在某一状态下的几乎所有转录本序列信息，已广泛应用于临床诊断、基础研究和药物研发等领域。</p>

                <p>6.小RNA测序</p>
                <p>通过高通量测序，可以发掘、鉴定和定量出任何物种全基因组水平的小RNA图谱、挖掘新的miRNA分子、预测靶基因、鉴定样品间差异表达分析。</p>

                <p>7.甲基化测序</p>
                <p>全基因组Bisulfite 测序（Whole Genome Bisulfite Sequencing，WGBS）是将重亚硫酸盐处理方法和Illumina HiSeq 高通量测序平台相结合，对有参考基因组的物种进行全基因组水平甲基化研究。WGBS 可以达到单碱基分辨率，精确分析每一个胞嘧啶的甲基化状态，从而构建精细的全基因组DNA 甲基化图谱。</p>

                <p>8.ChIP-seq测序</p>
                <p>ChIP-seq是以染色质免疫共沉淀（ChIP）为基础，基于Illumina HiSeq 2500测序平台，全基因组范围内研究与蛋白和转录因子结合的DNA区域，以高效率的测序手段得到高通量的数据结果。</p>

                <h2>分子遗传解决方案</h2>
                <p>1.无创产前基因检测（NIPT）</p>
                <p>无创产前DNA检测是针对胎儿染色体数目异常疾病的新型检测技术，目前发病率较高的21-三体综合症（唐氏综合症）、18-三体综合症（爱德华氏综合症）和13-三体综合症（帕陶氏综合症）都在其检测范围内。该方法采用新一代高通量测序技术结合生物信息学分析方法，对孕妇外周血中的胎儿游离DNA进行检测和分析，是一项安全、精确、快速的新型检测技术。</p>
                <p>2.胚胎植入前遗传学诊断/筛查技术（PGD/PGS</p>
                <p>胚胎植入前遗传学诊断/筛查技术PGD/PGS（Preimplantation Genetic Diagnosis/Screening），进行试管婴儿技术(IVF)助孕时，在胚胎移植之前，对早期胚胎进行染色体非整倍体、非平衡易位和单基因疾病检测，以期挑选染色体正常的胚胎植入子宫，以期获得正常的妊娠，提高患者的临床妊娠率、降低早期流产风险。</p>
                <p>3.肿瘤基因检测</p>
                <blockquote>适用人群
                1、具有血缘关系的亲属中有BRCA1/BRCA2基因突变的健康人；
                2、发病年龄≤45岁的乳腺癌患者；
                3、发病年龄≤50岁并且有1个具有血缘关系的近亲也为发病年龄≤50岁的乳腺癌患者和(或)1个或1个以上的近亲为任何年龄的卵巢上皮癌/输卵管癌/原发性腹膜癌患者；
                4、有2个原发性乳腺癌病灶，并且首次发病年龄≤50岁乳腺癌患者；
                5、≥2个具有血缘关系的近亲患有任何发病年龄的乳腺癌和(或)卵巢上皮癌、输卵管癌、原发性腹膜癌；
                7、卵巢上皮癌、输卵管癌、原发性腹膜癌患者或有此类既往史；
                8、男性乳腺癌患者；
                6、具有血缘关系的男性近亲患有乳腺癌；
                9、具有血缘关系的一级或二级亲属中符合1-8任何条件；
                10、具有血缘关系的三级亲属中有≥2个乳腺癌患者(至少有1个发病年龄≤50岁)和(或)卵巢上皮癌/输卵管癌/原发性腹膜癌患者的健康人；
                11、不符合以上条件，但有意了解自己乳腺癌遗传风险的各类人群。
                    </blockquote>
                <p>4.单基因遗传病</p>
                <p>常见的单基因病有地中海贫血、白化病、苯丙酮尿症、红绿色盲、血友病等。不同地区常见的单基因病类型并不相同。例如地中海贫血多见于我国南方地区，长江以北的地区很少见。不同的单基因遗传病情况不同。多数单基因病无法治愈，有个别疾病可以通过后天干预根治，例如：地中海贫血可以通过骨髓干细胞移植手术治愈，但面临手术成功率低和费用昂贵的问题。</p>
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->


    <footer id="footer" class="top-space">

        <div class="footer1">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 widget">
                        <h3 class="widget-title">联系我们</h3>
                        <div class="widget-body">
                            <p>0760-89965088<br>
                                <a href="mailto:#">13465@gmail.com</a><br>
                                <br>
                                广东省中山市火炬开发区祥兴路数贸大厦南翼8层
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 widget">
                        <h3 class="widget-title">关注我们</h3>
                        <div class="widget-body">
                            <p class="follow-me-icons">
                                <a href=""><i class="fa fa-weibo fa-2"></i></a>
                                <a href=""><i class="fa fa-magic fa-2"></i></a>
                            </p>
                        </div>
                    </div>

                </div> <!-- /row of widgets -->
            </div>
        </div>

        <div class="footer2">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 widget">
                        <div class="widget-body">
                            <p class="simplenav">
                                <a href="#">首页</a> |
                                <a href="about.html">关于我们</a> |
                                <a href="bio-info.html">资讯</a> |
                                <a href="contact.html">联系我们</a> |
                                <b><a href="signup.html">登陆</a></b>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 widget">
                        <div class="widget-body">
                            <p class="text-right">
                                粤ICP备15082429号 Coppyright &copy; 2016腾飞基因科技有限公司
                            </p>
                        </div>
                    </div>

                </div> <!-- /row of widgets -->
            </div>
        </div>

    </footer>





    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="/static/assets/js/jquery-1.11.0.min.js"></script>
	<script src="/static/assets/js/bootstrap.min.js"></script>
	<script src="/static/assets/js/headroom.min.js"></script>
	<script src="/static/assets/js/jQuery.headroom.min.js"></script>
	<script src="/static/assets/js/template.js"></script>
</body>
</html>